{% extends 'base.html' %}
{% block title %}Категории{% endblock %}
{% block content %}

<div class="row">
{% for cat in category_list %}

  <div class="col-sm-5 my-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{cat.title}}</h5>
        <a href="{{ cat.get_absolute_url }}" class="btn btn-primary">Показать объявления</a>
         <a href="{{ cat.get_delete_url }}" class="btn btn-danger">Удалить категорию</a>
      </div>
    </div>
  </div>
{% endfor %}



{% endblock %}