{% extends 'base.html' %}

{% block title %}Редактирование - {{item.title}}{% endblock %}

{% block content %}

<div class="  mt-5">
    <div class='mt-5'>
        <h3 class='mt-5 pt-5'>Редактирование</h3>
</div>
</div>
<form id="post_form"  method="post" action="" enctype="multipart/form-data">

    {% csrf_token %}
    {% for hidden in new_item.hidden_fields %}
        {{ hidden }}
    {% endfor %}

    {% for field in new_item %}
        {{ field }} <br />
    {% endfor %}

      {{ formset.as_p }}
    {{ formset.management_form }}

    {% for form in formset %}
        {{ form.photo }}
    {% endfor %}
   
    


    <input type="submit" name="submit" value="Submit" />
</form>

{% endblock %}
